cryptography==44.0.2
python-docx==1.1.2
jproperties==2.1.2
gitpython==3.1.44
docx2pdf==0.1.8
openpyxl==3.2.0b1
requests~=2.32.3
dropbox==12.0.2
pandas==2.2.3
pillow==11.2.1
numpy==2.0.2
pytz==2025.2
lxml==5.3.1
six==1.17.0
docx~=0.2.4
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.166.0
python-dotenv==1.0.1
